//SignupForm Related Styles
.signup {
  margin-top: 3em;
  text-align: center;
  .MuiSvgIcon-root{
    color:rgb(3, 3, 134);
  }
  .MuiFormControl-root{
    width: 20em;
  }
  .MuiButtonBase-root{
    width: 23em;
  }
  .questions{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    a{
        padding:0px 15px 0px 15px;
        text-decoration: none;
    }
}

}

//ForgotPassword Related Styles
.forgotpassword{
  text-align: center;
  align-items: center;
  padding-top: 15em;
  .MuiFormControl-root{
    width: 20em;
  }
  .MuiButtonBase-root{
    width: 23em;
  }
}



