.login form {
  margin-top: 10em;
  justify-content: center;
  text-align: center;
}
.questions {
  display: flex;
  justify-content: center;
}
.questions-text {
  margin: 15px;
  color: hsl(280deg 45% 33%);
}
.MuiTextField-root-login {
  width: 20em;
  background: transparent;
  box-shadow: 6px 6px 14px 0 rgba(81, 152, 245, 0.2),
    -8px 8px 18px 0 rgba(255, 255, 255, 0.55);
  border-radius: 14px;
  padding: 4px 30px 20px;
  min-height: 30px;
}
.MuiSvgIcon-root {
  color: hsl(240deg 100% 25%);
  font-size: 40;
}
.MuiButton-containedPrimary-login {
  color: hsl(0deg 0% 100%);
  background-color: hsl(231deg 48% 48%);
  width: 23em;
}
.Error-Message {
  color: red;
}
.loader {
  position: absolute;
  top: 18vh;
  left: 49%;
  opacity: initial;
}
